
/* Font Family 
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
*/

.lugar1 {
    height: 269px;
}
.card1 {
    width: 360px;
    padding: 0;
}

.busqueda {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
}

/* Estilo del icono de la estrella */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color:#EB5757;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Estilo de los titulos y nombres*/

.titulo, .puntuacion, .camas, .tipo{
    font-family: 'Montserrat';
}

.titulo {
    
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.puntuacion {
    color:#4F4F4F;
}

.camas, .tipo{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:#828282;
}

.host{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    border: 1px solid #4F4F4F;
    border-radius: 12px;
}
